*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255,255,240,255);
}

.keret{
    background-color: rgba(240,240,240,255);
}

p{
    color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    text-wrap: nowrap;
    margin: 0 5px;
}

textarea{
    width: 100%;
    margin-left: 20px;
}

hr{
    margin: 10px 0px;
}

input{
    text-align: center;
}

input[type=radio]{
    margin-left: 40px;
}

input[type=number]{
    width: 4em;
    color: rgb(201, 36, 36);
    
}

input[type=date]{
    color: rgb(201, 36, 36);
    margin-left: 3em;
    min-width: 55%;
    max-width: 55%;
}

input[type=radio]{
    accent-color: black;
}
input[type=checkbox]{
    accent-color: white;
}

.container{
    width: fit-content;
    margin: auto;
    text-align: center;
    
}

.keret{
    
    margin-top: 5px;
    width: 680px;
    padding: 0.5em 5em;
    
}

.container h1{
    color: blue;
    font-size: 3em;
    margin: 0.5em;
}

.flex{
    gap: 1px;
    margin-bottom: 6px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.flex-textarea{
    gap: 1px;
    margin-bottom: 6px;
    width: 90%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    
}

.flex-rew{
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 6px;
    width: 60%;
    justify-content: space-between;
    align-self: center;
    margin-top: 9px;
}

.flex-input{
    gap: 10px;
    margin-bottom: 6px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    margin-left: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
}

label{
    font-size: small;
}

button{
    padding: 4px;
}

#vendegekSzama{
    margin-left: 10px;
}

#m{
    margin-right: 2.2em;
}

#hiba{
    color: red;
    display: none;
}


.rendeles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10em;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 10;
    height: auto;
    opacity: 80%;
    color: green;
    border: 1px solid black;
}

.rendeles p {
    color: black;
    font-size: x-large;
    font-weight: bolder;
}